<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Hind&family=Noto+Sans:wght@100&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
</head>
<a style="cursor:pointer;" [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix">

    <div class="pull-left">
        <h4 class="list-group-item-heading">{{device.name}}</h4>
        <p class="list-group-item-text">{{device.description}}</p>
    </div>

    <span class="pull-right">
        <img [src]="device.imagePath" alt="{{device.name}}" class="img-responsive" style="max-height:50px;">
    </span>
</a>